apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kured
  namespace: argocd
spec:
  destination:
    server: https://kubernetes.default.svc
  project: default
  source:
    path: kured
    repoURL: https://dev.azure.com/finninginternational/Portal%20Platform/_git/dv1useast-mfc-aks-gitops
    targetRevision: HEAD
  syncPolicy:
    syncOptions:
    - CreateNamespace=true